{% extends 'base.jinja2' %}

{% block header %}
  <h1>{% block title %}Register new citizen{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" action="/citizens/new">
    {{ form.csrf_token }}
    <p>
        <label>{{ form.name.label }}</label> 
        {{ form.name(size=20) }}
    </p>
    <p>
        <label>{{ form.email.label }}</label> 
        {{ form.email(size=20) }}
    </p>
    <p>
        <label>{{ form.security_number.label }}</label>
        {{ form.security_number(size=20) }}
    </p>
    <input type="submit" value="Go">
</form>
{% endblock %}