{% extends 'base.jinja2' %}

{% block header %}
  <h1>{% block title %}Register Sale{% endblock %}</h1>
{% endblock %}

{% block content %}

{{citizens_available}}
<form method="POST" action="/citizens/new">
    {{ form.csrf_token }}
    <p>
        <label>{{ form.ownerd_id.label }}</label> 
        {{ form.ownerd_id }}
    </p>
    <p>
        <label>{{ form.vehicle_model.label }}</label>
        {{ form.vehicle_model }}
    </p>
    <p>
        <label>{{ form.vehicle_color.label }}</label> 
        {{ form.vehicle_color }}
    </p> 

    <input type="submit" value="Go">
</form>
{% endblock %}